//
// Variables
// --------------------------------------------------

$primary:         #3652d3 !default; 
$success:         #5cb85c !default;
$info:            #5bc0de !default;
$warning:         #f0ad4e !default;
$danger:          #e52c5a !default;
