.image-input {
  height: 80;
  .image-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
    .remove-image {
      position: absolute;
      top: 0;
      width: 1.2em;
      height: 1.2em;
      line-height: 1.2em;
      border-radius: 0.5em;
      right: 0px;
      text-align: center;
      background-color: rgba(255, 255, 255,  0.8);
    }
  }
  .drop-target {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .prompt {
      flex-grow: 2;
      flex-shrink: 0;
      padding-left: 1em;
    }
    &.dragging {
      outline: 4px dashed #aaa;
    }
  }
}
