[Unit]
Description="Etherpad-lite"

[Service]
Type=simple
User=etherpad
Group=etherpad
ExecStart=/bin/bash -lc "source {{etherpad_nvm_root}}/nvm.sh ; /var/local/etherpad-lite/bin/run.sh"
[Install]
WantedBy=multi-user.target
