// Allow forms with buttons-as-links in dropdown menus to enable POST-ing
.dropdown-menu > li > form {
  width: 100%;
  .btn-link {
    width: 100%;
    text-align: left;
    padding: 3px 20px;
    color: $dropdown-link-color;
    background-color: $dropdown-bg;
    &:hover {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
      text-decoration: none;
    }
  }
}
