django<1.12
channels
asgi_redis
celery[redis]
django-celery-beat
django-celery-results
django-timezone-field
escapejson
pytz
jsonfield
bleach
bleach-whitelist
django-allauth
django-bootstrap-form
django-channels-presence
django-debug-toolbar
django-gravatar2
django-mjml
django-webpack-loader
google-api-python-client
pytest
pytest-selenium
pytest-django
pytest-xdist
lxml
pillow<3.7
pylibmc
psycopg2
requests
selenium>3
sorl-thumbnail
iso8601
