{% load static %}
{% load thumbnail %}
{% load account %}

<div class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-ex-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      {% if not brandless %}
        <a class='navbar-brand' href='/'>
          <img src='{{ MEDIA_URL }}{{ branding.short_logo_seafoam }}' class="img-responsive" alt='{{ branding.name }}' />
        </a>
      {% endif %}
    </div>
    <div class='collapse navbar-collapse' id='navbar-ex-collapse'>
      {% if not hidenav %}
      <ul class='nav navbar-nav'>
        <li><a href='{% url "about" %}'>About</a></li>
        <li><a href='{% url "plenary_list" %}'>Events</a></li>
      </ul>
      {% endif %}
      <ul class='nav navbar-nav navbar-right'>
        {% if user.is_authenticated %}
          <li>
            <a href='{% url "accounts_settings" %}'
               class='dropdown-toggle user-name'
               data-toggle='dropdown'
               role='button'
               aria-haspopup='true'
               aria-expanded='false'>
             <img src='{{user.get_profile_image}}' class='navbar-avatar' width='32' height='32' />
            <span class='navbar-username'>{% user_display user %}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </a>
            <ul class='dropdown-menu'>
              {% if user.is_staff %}
                <li><a href='{% url "admin:index" %}'>Admin</a></li>
                <li role='separator' class='divider'></li>
              {% endif %}
              <!--
              <li>
                <a href='{% url "accounts_profile" %}'>
                  <i class='fa fa-user'></i> Profile
                </a>
              </li>
              -->
              <li>
                <a href='{% url "accounts_settings" %}'>
                  <i class='fa fa-cog'></i> Settings
                </a>
              </li>
              <li role='separator' class='divider'></li>
              <li>
                <form method='post' action='{% url "account_logout" %}'>{% csrf_token %}
                  <button type='submit' class='btn btn-link'>Logout</button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li>
              <p class='navbar-btn'><a href='{% url "account_login" %}' type='button' class='btn btn-default btn-login'>Login</a></p>
          </li>
          <li>
              <p class='navbar-btn'><a href='{% url "account_signup" %}' type='button' class='btn btn-success btn-signup'>Sign up</a></p>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% block messages %}
  {% if messages %}
    <div class='messages container'>
      {% for message in messages %}
        <div role='alert'
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            class='alert alert-dismissible alert-danger'
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            class='alert alert-dismissible alert-warning'
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            class='alert alert-dismissible alert-success'
          {% else %}
            class='alert alert-dismissible alert-info'
          {% endif %}
          >{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
