.presence-container {
  background-color: lighten(#3652d3,100%);
  padding: 10px;
  overflow: auto;
  flex-grow: 1;  
  .presence-controls {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    .presence-counter {
      i {
        margin-right: 5px;
        font-size: 1.2em;
      }
    }
    .grid-button {
      margin-left: auto;
      margin-right: 5px;
    }
    .btn {
      font-size: 1em;
    }
  }
  
  .presence{
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    .user-avatar > img {
      width: 48px;
      height: 48px;
      border-radius: 7px;
      margin: 0 7px 7px 0;
      &:hover{
        cursor: pointer;
        box-shadow: 4px 4px 0 #83ffcd;
      }
      &:active{
        box-shadow: none;
      }
    }
    .user-details {
      width: 100%;
    }
  }
  .muted {
    opacity: 0.3;
  }
}

.popover{
  background-color: #f5f5f5;
  border: 2px solid #222;
  &:hover{
    cursor:default;
  }
}

.popover-content{
  padding: 3px 10px 5px 10px;
}
