.admin-list-editor {
  .add-detail {
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  .user-details {
    display: inline;
    margin-right: 1rem;
  }
  .user-avatar > img {
    width: 32px;
    height: 32px;
    border-radius: 7px;
    margin: 0 7px 7px 0;
  }
  .current-admins {
    display: table;
    .admin-row { display: table-row; }
    .admin-row > * {
      display: table-cell;
    }
    .remove-btn {
      cursor: pointer;
      display: inline-block;
      padding: 7px;
      margin-left: 2rem;
      color: #aaa;
      border: 1px solid transparent;
      &:hover {
        color: #900;
        border-color: #900;
      }
    }
  }
}
