.socialaccount_providers {
  text-align: center;
  a.facebook {
    background-color: #3b5998;
    color: white;
    &:hover {
      background-color: darken(#3b5998, 10%);
    }
  }
  a.google {
    background-color: #f63d38;
    color: white;
    &:hover {
      background-color: darken(#f63d38, 10%);
    }
  }
  a.twitter {
    background-color: #4099ff;
    color: white;
    &:hover {
      background-color: darken(#4099ff, 10%);
    }
  }
}

.navbar-right{
  > button{
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

.navbar-nav > li > a {
  line-height: 40px;
}

.navbar-brand{
  height: 100%;
  > img{
    height: 40px;
  }
  &:hover{
    opacity: 0.9;
  }
}