.breakout-list-header {
  background-color: #3652d3;
  padding: 10px 10px 10px 15px;
  color: #fff;
  #breakout-settings-button{
    margin-left: 10px;
  }
  .dropdown-menu{
    padding-top: 0;
  }
  .menu-item i{
    margin-right: 5px;
  }
  .menu-item .labeled-switch {
    padding: 10px 20px 7px 20px;
    white-space: nowrap;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    color: #222;
    &:hover{
      background-color: #f5f5f5;
      border-radius: 0;
    }
    .switch-label{
      min-width: 110px;
    }
    .switch{
      height: 21px;
      width: 40px;
      &.on{
        background-color: #83ffcd;
        .switch-toggle{
          left: 18px;
        }
      }
    }
    .switch-toggle{
      height: 19px;
      width: 20px;
    }
  }
}

.breakout-message-preview{
  background-color: #83ffcd;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #222;
}

.breakout-list-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .breakout-list-item{
    background-color: #f5f5f5;
    border-radius: 7px;
    margin-bottom: 10px;

    .breakout-list-item-row{
      display: flex;
      flex-direction: row;
      max-width: 100%;

      .breakout-list-item-left-col{
        flex-grow: 1;
        min-width: 0px; // https://css-tricks.com/flexbox-truncated-text/
        overflow-wrap: break-word;
        border-top: 2px solid #9b9b9b;
        border-bottom: 2px solid #9b9b9b;
        border-left: 2px solid #9b9b9b;
        border-radius: 7px 0 0 7px;
        padding: 5px 10px 10px 5px;
        .breakout-title{
          max-height: 44px;
          min-height: 44px;
          overflow: auto;
          .in-place-editor{
            &:focus,&:active{
              border: none;
            }
          }
        }
        .breakout-presence{
          padding: 3px 0 0 7px;
          > .slot{
            height: 32px;
            width: 32px;
            border-radius: 5px;
            display: inline-block;
            vertical-align: middle;
            &.empty{
              border: 1px solid #9b9b9b;
            }
            > .user-avatar{
              > img{
                height: 100%;
                width: 100%;
                border-radius: 5px;
              }
            }
          }
        }
      }

      .breakout-list-item-middle-col{
        border-top: 2px solid #9b9b9b;
        border-bottom: 2px solid #9b9b9b;
        padding: 10px 10px 10px 0;
        .breakout-proposed-by-container{
          display: flex;
          line-height: .95em;
          text-align: right;
          margin-bottom: 10px;
          img{
            width: 32px;
            height: 32px;
            border-radius: 5px;
            margin-left: 5px;
          }
        }
        .breakout-controls-container{
          display: flex;
          justify-content: flex-end;
          .approve-btn{
            min-width: 36px;
            background-color: #9de0fc;
            margin-left: 5px;
          }
          .undo-btn{
            background-color: #fffda0;
            min-width: 36px;
            margin-left: 5px;
          }
          .delete-btn{
            min-width: 32px;
            min-height: 32px;
          }
        }
      }

      .breakout-list-item-right-col{
        display: flex;
        justify-content: center;
        > .btn{
          border: 2px solid #222;
          border-radius: 0 7px 7px 0;
          &:hover{
            box-shadow: none;
          }
          &.join-btn{
            display: flex;
            background-color: #3652d3;
            color: #fff;
            &:hover{
              background-color: lighten(#3652d3,3%);
            }
            > i{
              margin: auto;
            }
          }
          &.vote-btn{
            &.voted {
              background-color: lighten(#9de0fc,13%);
              &:hover{
                background-color: lighten(#9de0fc, 10%);
              }
              &:active{
                background-color: lighten(#9de0fc, 5%);
              }
              > i{
                color: #9de0fc;
              }
            }
          }
        }
      }
    }
    
    &.proposal{
      .breakout-list-item-row{
        .breakout-list-item-left-col{
          border-top: 1px dashed #9b9b9b;
          border-bottom: 1px dashed #9b9b9b;
          border-left: 1px dashed #9b9b9b;          
        }

        .breakout-list-item-middle-col{
          border-top: 1px dashed #9b9b9b;
          border-bottom: 1px dashed #9b9b9b;
        }
      }
    } 
  }
}



