.breakout-header {
  background-color: #2e7daa;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: visible;
  .btn-default {
  	flex-grow: 1;
    color: #2e7daa;
  	}
  h4 {
  	flex-grow: 1;
  	color: #fff;
  	}
  }
.breakout {
  background-color: #eee;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  h5 {
    flex-grow: 1;
  }
  .btn-default {
    flex-grow: 1;
    background-color: #2e7daa;
    color: #fff;
  }
}