.chat-container {
  height: calc(100vh - 10px);
  background-color: #eee;
  display: flex;
  flex-direction: column;
  .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    overflow: auto; ;
  }
}

.chat-log {
  overflow: auto; 
  }

.chat-message {
  padding: 5px 18px;
  position: relative;
  vertical-align: top;
  float: left;
  margin: 5px 0px;
  clear: both;
  width: 100%;
  display: flex;
  flex-direction: row;
  .chat-message-text{
    word-wrap: break-word; 
  }
  .userName {
    font-weight: 900;
    color: #2c2d30
  }
  &:nth-child(even) {
    background-color: #eee;
  }
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
  img {
    height: 2em;
    margin-right: 10px;
  }
}
.form-group {
  margin: 5px;
}

