.plenary-embed iframe {
  width: 100%;
  height: 320px;
}

.embed-admin-controls {
  background-color: #83ffcd;
  padding: 10px;
  .alert-error{
    padding:3px;
    background-color: #fffda0;
    color: darken(#fcf3af,60%);
    margin: 0;
    text-align: center;
    i{
      padding-right: 5px;
    }
  }
}

.embed-input-form-group{
  margin-bottom: 10px;
  .input-field{
    border: 2px solid #222;
  }
}

.button-flex-container {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.remove-button {
  flex-grow: 0; 
  i{
    margin-right: 3px;
  }
}

.previous-embed-list-item {
  width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .previous-embed-list-item-thumbnail {
  }
  .previous-embed-list-item-title {
    flex: 2 1 auto;
    display: block;
    font-size: 12px;
    line-height: 1.1;
    height: 3.3 * 12px + 5px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-words;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    // text-overflow: ellipsis; not supported with word wrap.
  }
  .previous-embed-list-item-delete i {
    display: inline-block;
    padding: 5px;
    &:hover {
      color: white;
      background-color: red;
    }
  }
}

