.plenary-embed iframe {
  width: 100%;
  height: 320px;
}

.embed-admin-controls {
  background-color: #f3bd71;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  }
.button-flex-container {
  display: flex;
  flex-flow: row wrap;
  flex-just: space-around;
}
.play-button {
  flex-grow: 1;
  margin: 0px 5px 5px 5px;
  }
.remove-button {
  flex-grow: 1; 
  margin: 0px 5px 5px 5px;
  }
.hangout-on-air-button {
  flex-grow: 1;
  margin-top: 0;
   }
.form-group {
  margin-top: 5px;
  margin-bottom: 10px;
}

