.plenary-info-container {  
  	background-color: #2e7daa;
  	padding: 10px;
  	color: #fff;
    border-bottom-right-radius: 0px;
  	display: flex;
  	flex-direction: row;
    flex-wrap: wrap;
    h1 {
      flex: 0 1 100%;
    }
    h3 {
      flex: 0 1 100%;
    }
    h4 {
      flex: 0 1 50%;
    }
    .btn {
      flex: 0 1 10%;
      margin-left: auto;
    }
}