.plenary-info-container {
	background-color: #2e7daa;
	padding: 10px;
  	margin: 5px;
  	color: #fff;
  	border-radius: 5px;
  	display: flex;
  	flex-direction: column;
  	input {
	  	background-color: #2e7daa;
	  	color: #fff;
	  	border: none;
	  	box-shadow: none
  		&:hover {
	      border: 1px solid #ccc;
	      border-radius: 4px;
	    }
	    &:focus {
	      background-color: #fff;
	      color: #000;
	      border: 1px solid;
	      border-radius: 4px;
	      border-color: #66afe9;
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); 
	    }
  	}
  	.name-input {
  		font-size: 24px;
  		flex-grow: 2;
  		height: 2em;
  	}
  	.organizer-input {
  		font-size: 12px;
  		flex-grow: 1;
  	}
  	.start-date-input {
  		font-size: 12px;
  		flex-grow: 1;
  	}
  	.description-input {
  		font-size: 12px;
  		  		flex-grow: 1;
  	}
}