.plenary-status-alert{
  background-color: #3652D3;

  div{
    text-align: center;
    margin: 10px 10px 0px 10px;
    padding: 10px 15px 10px 15px;
    background-color: #83FFCD;
    border-radius: 3px;
    line-height: 1.6em;

    button{
      margin-left: 5px;
      margin-top: 2px;
    }
  }

}
