.whiteboard {
  position: relative;
  max-height: 40vh;
  .whiteboard-input {
    max-height: 100%;
    overflow: auto;
  }
  .whiteboard-button {
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e1e1e8;
    border-top: none;
    padding: 2px 8px;
    margin-right: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel {
    margin: 0px;
    box-shadow: none;
  }
  .panel-body {
    border: none;
  }
  .panel {
    position: relative;
    height: 100%;
  }
  .panel-collapse, .panel-body {
    height: 100%;

  }
}
