[Unit]
Description=Reunhangout channels worker server (http only)
PartOf=reunhangout-workers.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart={{django_venv_dir}}bin/python {{django_project_dir}}/manage.py runworker --only-channels=http.*
LimitNOFILE=65535

[Install]
WantedBy=reunhangout-workers.target
