[Unit]
Description=Reunhangout channels worker server (http only)

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart={{django_venv_dir}}bin/python {{django_project_dir}}/manage.py runworker --only-channels=http.* --threads={{django_asgi_worker_threads}}
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
