[Unit]
Description=Reunhangout asgi interface server

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart={{django_venv_dir}}bin/daphne {{django_project_name}}.asgi:channel_layer -p {{django_wsgi_port}} --access-log={{django_logs_dir}}access.log --verbosity=2
WorkingDirectory={{django_project_dir}}
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
