body {
	.col-xs-2 {
		padding: 0px;
	}
	.col-xs-10 {
		padding: 0px;
	}
	.breakout-title-container {
		word-wrap: break-word;
		background-color: #2e7daa;
		color: #fff;
		padding: 20px;
		margin-bottom: 5px;
	}
}
