{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ plenary.name }}{% endblock %}
{% block styles %}{% render_bundle 'main' 'css' %}{% endblock %}

{# Suppress usual header/footer for plenary #}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  <script type='text/javascript'>
    window.__INITIAL_STATE__ = {{ data|safe }};
  </script>
  <div id='plenary'></div>
{% endblock %}
{% block scripts %}{% render_bundle 'main' 'js' %}{% endblock %}
