server_tokens off;
client_max_body_size 10m;

proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=etherpad_cache:10m max_size=1g inactive=60m use_temp_path=off;

gzip on;
gzip_disable "msie6";
gzip_min_length 1000;
gzip_vary on;
gzip_proxied any;
gzip_comp_level 6;
gzip_buffers 16 8k;
gzip_http_version 1.1;

gzip_types text/plain text/css application/json application/x-javascript application/javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;


