{% extends "base.html" %}
{% load page_components %}

{% block title %}{{ branding.name }}{% endblock %}

{% block content %}
<div class='container homepage-container'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <img src='{{ MEDIA_URL }}{{ branding.logo }}' alt='{{ branding.name }}' class='img-responsive' />
      <p class='front-page-blurb'>Unhangout is an open source platform for running large-scale, participant-driven events online.</p>
      <div class='homepage-add-event-btn'>
        <a class='btn btn-primary btn-large' href='{% url "plenary_add" %}'>
          <i class='fa fa-plus'></i> Create an Unhangout
        </a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vYxmd3BmOW0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style='max-width: 100%;'></iframe>
    </div>
  </div>
</div>
{% endblock %}
