{% extends "base.html" %}

{% block title %}Permalinks Retired{% endblock %}

{% block content %}
<div class='container '>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <h1>Permalinks have retired <i class="fa fa-frown-o" aria-hidden="true"></i></h1>

      <p>Hey there! If you're looking for an Unhangout permalink, we're sorry
      to say that they have been retired. It was a good run!</p>

      <p> If you're looking for a new online meeting room with a short, custom
      URL, we recommend checking out
      <a href='https://meet.jit.si/'>Jitsi Meet</a>. They're open source and
      use WebRTC :)
      </p>

      <p>We are very sorry for any inconvenience this may have caused you.
      Please reach out to us at
      <a href='mailto:unhangout@media.mit.edu'>unhangout@media.mit.edu</a>
      with questions or comments.</p>

      <p>And in the meantime, check out the <a href='/'>new Unhangout</a>!</p>

      <p>-- the Unhangout Team</p>
    </div>
  </div>
</div>
{% endblock %}
